*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.star{
    color: rgb(255, 255, 0);
}

.overview{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    overflow: hidden;  
}