*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.star{
    color: rgb(255, 255, 0);
}

.overview{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}

.overview::-webkit-scrollbar{
    display: none;
}

.my_bold{
    font-weight: bold;
}